body {
    margin: auto;
    width: 1900px;
    border: 0;
    padding: 0;
    background-color: rgb(243, 190, 236);
    text-align: center;
}

header {
    padding: 25px;
    margin-bottom: 20px;
    text-align: center;
    background: rgb(185, 2, 161);
    color: rgb(243, 190, 236);
    font-size: 25px;
    border-color: blue;
    border-style: double;
    border-width: 6px;
}

footer {
    padding: 25px;
    text-align: center;
    background: rgb(185, 2, 161);
    color: rgb(243, 190, 236);
    font-size: 15px;
    border-color: blue;
    border-style: double;
    border-width: 6px;
}

button {
    color: rgb(185, 2, 161);
    background-color: rgb(243, 190, 236);
    border-color: blue;
}

input {
    border-color: blue;
}

p {
    color: blue;
    font-size: large;
}
